.page {
  font-family: var(--font-family, sans-serif);
  background-color: var(--color-background, #000028);
  color: var(--main-text-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-image: var(--background-image, url(../images/cover-image.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-block-size: 100vh;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid transparent;
  color: var(--section-font-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-underline-offset: 4px;
}


.header__title {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  line-height: 82.5%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--section-font-color, #ff0070);
  border-block-start: 1px solid var(--section-font-color, #ff0070);
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--section-font-color, #ff0070);
  border-block-end: 1px solid var(--section-font-color, #ff0070);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

.rec-icon {
  position: absolute;
  display: inline-flex;
  visibility: var(--rec-visibility, visible);
  gap: 10px;
  text-transform: uppercase;
  align-items: center;
  color: var(--accent-color);
  inset-inline-end: 28px;
  inset-block-start: 21px;
}

.rec-icon::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  inline-size: 10px;
  block-size: 10px;
  background: var(--accent-color, #ff0070);
  box-shadow: 0 0 2px 3px var(--accent-color, #ff0070);
}

.header__description {
  font-weight: 700;
  color: var(--secondary-text-color);
  background: var(--accent-color, #ff0070);
  max-width: 491px;
  align-self: center;
  justify-self: end;
  margin-inline-end: 20px;
  margin-block-end: 20px;
  inline-size: clamp(364px, calc(100% / 2 - 10px),491px);
}

.main {
  display: grid;
  gap: 60px;
  padding: 60px 20px;
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--main-text-color);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

/* Подчеркивание ссылки сделано через псевдоелемент, т.к.
обычный text-decoration: underline оставляет text-shadow у линии подчеркивания */

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-text-color);
  transform: scaleX(0);
}

.link:hover::after {
  transform: scaleX(1);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--button-hover-border);
}



.description {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.description__item {
  margin-block-end: 20px;
}

.title {
  color: var(--section-font-color, #ff0070);
  font-size: inherit;
}

.section {
  display: grid;
}

.article {
  display: grid;
  gap: 10px;
}

.tips {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding-block-end: 20px;
}

.list {
  list-style: none;
}

.title-decor {
  color: var(--secondary-text-color);
  background: var(--accent-color, #ff0070);
  font-size: var(--font-size);
}

.tips__title-how {
  margin-block-end: 20px;
}

.tips__title {
  font-weight: 400;
  color: var(--secondary-text-color, #000028);
}

.tips__list {
  display: grid;
  gap: 20px;
}

.reasons {
  padding-block-end: 20px;
}

.reasons__title {
  max-width: 315px;
  padding-block-end: 20px;
}

.reasons__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery {
  grid-template-columns: 1fr;
  gap: 20px;
}

.gallety__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.img-sunset, .img-street {
  grid-column-start: span 2;
}

.img-ice-cream, .img-tape {
  grid-row-start: span 2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color, #DB00FF);
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
  text-align: center;
}




@media screen and (width <= 1023px) {

  .header__theme-menu {
    justify-self: flex-end;
    align-self: center;
    padding-inline-end: 20px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .description {
    gap: 20px;
  }

  .reasons__title {
    max-width: 160px;
  }

  .reasons__list {
    grid-template-columns: auto;
  }

  .tips {
    gap: 20px;
  }

  .description .title,
  .tips .title {
    font-size: clamp(0.9375rem, 0.7586rem + 0.7634vw, 1.125rem);
  }
}

@media screen and (width <= 375px) {

  .header {
    padding-inline: 10px;
  }

  .header__theme-menu {
    padding-inline-end: 5px;
    padding-block-end: 12px;
  }

  .header__description {
    max-width: 355px;
    margin-inline-end: 5px;
    margin-block-end: 12px;
  }

  .main {
    padding: 10px 10px;
    gap: 30px;
    font-size: var(--font-size);
  }

  .reasons__title {
    max-width: fit-content;
  }

  .description {
    grid-template-columns: auto;
    padding-block-start: 30px;
  }

  .tips {
    grid-template-columns: auto;
  }

  .gallery {
    gap: 10px;
  }

  .gallety__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .rec-icon {
    inset-inline-end: 19px;
    inset-block-start: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 60px;
  }

  .description .title,
  .tips .title {
    font-size: var(--font-size);
  }
}
