:root {
  --font-family: "IBM Plex mono";
  --font-size: 18px;
  --line-height: 23.4px;

  --accent-color: #ff0070;
  --section-font-color: #ff0070;
  --color-background: #000028;
  --title-color: #DB00FF;
  --button-hover-border: #FF007066;
  --main-text-color: #F1B2CE;
  --secondary-text-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
}
